<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <div id="root">   
        <h2>Now n's number is: {{n}}</h2>
        <button @click="n++">click me n+1</button>

        <!-- <div v-if="n === 1 ">yahoo</div>
        <div v-else-if="n === 2 ">baidu</div>
        <div v-else-if="n === 3 ">daum</div>
        <div v-else>google</div> -->


       <!-- <h2 v-show="false">welcome to {{name}} !</h2> -->

       
       <!-- <h2 v-if="false">welcome to {{name}} !</h2> -->

        <!-- <template v-if="n === 1">
            <h2>yahoo</h2>
        </template> -->
test
    </div>
</body>

<script>
    const vm = new Vue({
        el:'#root',
        data:{
           n : 0
        }
        })
</script>
</html>
