<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <div id="root">   
       <h2>person of list</h2>
       <input type="text" placeholder="input the name" v-model="keyWord">
       <ul>
           <li v-for="(p,index) of filPersons" :key="index">
             {{p.name}}-{{p.age}}-{{p.sex}}
           </li>
       </ul>
    </div>
</body>

<script>
    new Vue({
        el:'#root',
        data:{
           keyWord:'',
           persons:[
               {id:'001', name:'cojj', age:'11',sex:"women"},
               {id:'002', name:'locc', age:'90',sex:"women"},
               {id:'003', name:'joll', age:'87',sex:"man"},
               {id:'004', name:'nolo', age:'87',sex:"man"}
            ]
        },
        computed:{
            filPersons(){
                    return this.persons.filter((p)=>{
                    return p.name.indexOf(this.keyWord) !== -1
                })
            }
        }




        // el:'#root',
        // data:{
        //    keyWord:'',
        //    persons:[
        //        {id:'001', name:'cojj', age:'11',sex:"women"},
        //        {id:'002', name:'locc', age:'90',sex:"women"},
        //        {id:'003', name:'joll', age:'87',sex:"man"},
        //        {id:'004', name:'nolo', age:'87',sex:"man"}
        //     ],
        //    filPersons:[]
        // },
        // watch:{
        //     keyWord:{
        //         immediate:true,
        //         handler(val){
        //             this.filPersons = this.persons.filter((p)=>{
        //             return p.name.indexOf(val) !== -1
        //         })
        //         }
        //     }
        // }




    })
</script>
</html>
